.container {
    max-width: 860px;
    min-height: 500px;
    max-height: 500px;
    border: 2px black solid;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.header-section {
    padding: 1rem;
    border-bottom: 5px solid #40A99C;
    background-color: #E6E6E6;
}

.header {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header-half {
    flex: 1;
    display: flex;
}

.header-item {
    flex-grow: 1;
    justify-content: flex-end;
    text-align: right;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.header-icon {
    max-height: 20px;
    top: 0;
}

.header-text {
    top: 0;
}

img {
    max-width: 50%;
    max-height: fit-content;
}


.nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0;
    padding: 0;
    margin: 0;
    background-color: #E6E6E6;
}

.overview {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 100px auto;
}

hr {
    width: 80%;
    background-color: #55AB55;
    border: none;
    height: 5px;
    position: absolute;
    z-index: -1;
    bottom: 33%;
    margin: 0 10%;
}

.item-running {
    background-color: #E6E6E6;
}

.item-warning {
    background-color: #F69732;
    color: white;
}

.item-alarm {
    background-color: #F1402E;
    color: white;
}
